.post{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
    .post {
        display: block;
    }
}

.post--content{
    width: 50%;
}

@media screen and (max-width: 480px) {
    .post--content{
        width: 100%;
    }
}