.App{
    height: 100vh;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9a1efe102182763.5f31158107dc0.png");
    background-size: cover;
    background-position: center;
}